@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 6rem;
  line-height: 1.6;
  color: #FCFBF8;
  text-transform: uppercase;
  letter-spacing: -2;
}
@media only screen and (min-width: 300px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 3rem;
}
@media only screen and (min-width: 300px) {
  h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 900px) {
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: -1.4px;
  padding: 0.5rem;
}

h4 {
  font-size: 1.4rem;
  padding: 0.5rem;
  font-family: "Happy Monkey", system-ui;
}

p, span, a, li, input, button {
  font-family: "Helvetica", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #122315;
}
@media only screen and (min-width: 300px) {
  p, span, a, li, input, button {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 600px) {
  p, span, a, li, input, button {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 900px) {
  p, span, a, li, input, button {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  p, span, a, li, input, button {
    font-size: 1.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.6;
  background-color: #FCFBF8;
  color: #122315;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 6rem;
  line-height: 1.6;
  color: #FCFBF8;
  text-transform: uppercase;
  letter-spacing: -2;
}
@media only screen and (min-width: 300px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 3rem;
}
@media only screen and (min-width: 300px) {
  h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 900px) {
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: -1.4px;
  padding: 0.5rem;
}

h4 {
  font-size: 1.4rem;
  padding: 0.5rem;
  font-family: "Happy Monkey", system-ui;
}

p, span, a, li, input, button {
  font-family: "Helvetica", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #122315;
}
@media only screen and (min-width: 300px) {
  p, span, a, li, input, button {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 600px) {
  p, span, a, li, input, button {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 900px) {
  p, span, a, li, input, button {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  p, span, a, li, input, button {
    font-size: 1.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.6;
  background-color: #FCFBF8;
  color: #122315;
}

.groceries-shopping-mode__menu {
  background-color: #82D8E2;
  border: 4px solid #82D8E2;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}
.groceries-shopping-mode__menu--left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.groceries-shopping-mode__menu--right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.add-product__form {
  width: 100%;
}
.add-product__form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
}
.add-product__form label input {
  width: 100%;
  padding: 0.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
}
.add-product__form .add-product__button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #82D8E2;
  border-radius: 8px;
  background-color: #FCFBF8;
  color: #122315;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.groceries-shopping-mode__button-group {
  padding: 0.2rem;
}
.groceries-shopping-mode__button-group .groceries-shopping-mode__button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #82D8E2;
  border-radius: 8px;
  background-color: #FCFBF8;
  color: #122315;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.shopping-list__container-class {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #F7FCFD;
  border: 4px solid #82D8E2;
  border-radius: 16px;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
}
.shopping-list__container-class .shopping-list__form {
  width: 100%;
}
.shopping-list__container-class ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.shopping-list__container-class ul li {
  display: inline-block;
  width: 100%;
  margin-top: 0.2rem;
  padding: 0.2rem;
  background-color: #CCF0F4;
  border-radius: 16px;
}
.shopping-list__container-class ul li .list-item__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Happy Monkey", system-ui;
  font-size: 1.2rem;
}
.shopping-list__container-class ul li .list-item__container--checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.shopping-list__container-class ul li .list-item__container--checkbox input {
  margin-right: 0.5rem;
}
.shopping-list__container-class .list-item__container--buttons {
  display: flex;
}
.shopping-list__container-class .list-item__container--buttons button {
  padding: 0.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0.2rem;
}
.shopping-list__container-class .shopping-list__submit-button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #82D8E2;
  border-radius: 8px;
  background-color: #82D8E2;
  color: #FCFBF8;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/*# sourceMappingURL=groceries.css.map */
