@import "../mixin-containers";
@import "../buttons";
@import "../typography";
@import "../utils";

////// SHOPPING MODE //////
.groceries-shopping-mode__menu {
  @include set-bg-color-thick-border($blue-70, $blue-70);
  @include set-flexbox(row, space-between, center);
  padding: 1rem;
  margin-top: 2rem;

  &--left-side {
    @include set-flexbox(column, space-between, flex-start);
    width: 100%;
  }

  &--right-side {
    @include set-flexbox(column, space-between, flex-end);
    width: 100%;
  }
}

.add-product__form {
  width: 100%;

  label {
    @include set-flexbox(column, space-between, flex-start);
    @include set-input-label;
    width: 100%;

    input {
      @include set-input-text;
    }
  }

  .add-product__button {
    @include set-add-grocery-button($off-white, $text-color, $blue-70);
  }
}

.groceries-shopping-mode__button-group {
  padding: .2rem;

  .groceries-shopping-mode__button {
    @include set-add-grocery-button($off-white, $text-color, $blue-70);
  }
}


.shopping-list__container-class {
  @include set-flexbox(column, space-between, flex-start);
  @include set-bg-color-thick-border($blue-100, $blue-70);
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;

  .shopping-list__form {
    width: 100%;
  }

  ul {
    @include set-flexbox(column, space-between, flex-start);
  }

  ul li {
    display: inline-block;
    width: 100%;
    margin-top: .2rem;
    padding: .2rem;
    background-color: $blue-90;
    border-radius: 16px;

    .list-item__container {
      @include set-flexbox(row, space-between, center);
      width: 100%;
      font-family: $font-monkey;
      font-size: 1.2rem;
    }

    .list-item__container--checkbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input {
        margin-right: .5rem;
      }
    }
  }

  .current-groceries__list-item--button-group {
    display: flex;
    margin-right: 2rem;

    button {
      @include set-icon-button;
    }
  }

  .shopping-list__submit-button {
    @include set-register-login-submit-button($blue-70, $blue-70, $off-white);
  }
}

////// RECENT LISTS //////
.recent-shopping-lists__container {
  @include set-bg-color-thick-border($blue-90, $blue-70);
  @include set-flexbox(column, space-between, center);
  margin-top: 2rem;

  .recent-shopping-list__class {
    @include set-bg-color-narrow-border($blue-100, $blue-70);
    @include set-flexbox(column, space-between, flex-start);
    width: 90%;
    margin: 1rem auto;
  }

  .recent-shopping-list__title-container {
    @include set-bg-color-narrow-border($blue-70, $blue-70);
    border-radius: 8px 8px 0 0;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: auto;
  }

  li {
    @include set-flexbox(row, space-between, center);
    width: 100%;
    padding: .5rem;
    background-color: $blue-100;
    border-bottom: 1px solid $blue-70;

    #recent-list-item__add-to-new-list {
      @include set-icon-button;
      @include set-flexbox(row, space-between, flex-end);
    }
  }
}