@import "../utils";
@import "../typography";
@import "../buttons";
@import "../mixin-containers";

////// FORM CONTAINER SETTINGS //////
.new-recipe__form {
  @include set-bg-color-thick-border($lime-90, $lime-60);
  @include set-flexbox(column, center, flex-start);
  margin-top: 2rem;
  padding: 1rem;

  .new-recipe__basic-info {
    @include set-flexbox(column, center, flex-start);
    @include set-bg-color-narrow-border($lime-100, $lime-60);
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .new-recipe__tags-section {
    @include set-flexbox(column, center, flex-start);
    @include set-bg-color-narrow-border($lime-100, $lime-60);
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .new-recipe__ingredients-section {
    @include set-flexbox(column, center, flex-start);
    @include set-bg-color-narrow-border($lime-100, $lime-60);
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;

    .new-recipe__ingredient-input {
      @include set-flexbox(row, space-between, center);
      width: 100%;
      margin-bottom: 1rem;

      .new-recipe__ingredient-input--amount-container {
        width: 10%;
      }

      .new-recipe__ingredient-input--unit-container {
        width: 15%;
      }

      .new-recipe__ingredient-input--ingredient-container {
        width: 50%;
      }
    }
  }

  .new-recipe__instructions-section {
    @include set-flexbox(column, center, flex-start);
    @include set-bg-color-narrow-border($lime-100, $lime-60);
    width: 100%;
    padding: 1rem;

    .new-recipe__instructions-input-container {
      @include set-flexbox(column, space-between, center);
      width: 100%;
      margin-bottom: 1rem;

      .new-recipe__instruction-input--step-container {
        width: 10%;
      }

      .new-recipe__instruction-input--instruction-container {
        width: 80%;
      }
    }
  }
}

////// FORM ELEMENT DEFAULT SETTINGS //////
.new-recipe__form {
  label {
    @include set-input-label;
    margin-bottom: 0.5rem;
  }

  input {
    @include set-input-text;
    border: 1px solid $lime-60;
    margin-bottom: 1rem;
  }


}

////// H2 Title //////
.new-recipe--title-container {
  @include set-bg-color-narrow-border($lime-60, $lime-60);
  color: $off-white;
  padding: 1rem;
  margin-bottom: 2rem;

  p {
    background-color: $lime-80;
    padding: .4rem;
    border-radius: 8px;
    font-weight: 600;
  }
}


////// FORM ELEMENT SPECIFIC SETTINGS //////
///////////////////////////////////////////

////// PREP TIME CONTAINER //////
.new-recipe__basic-info--prep-time {
  @include set-flexbox(column, center, flex-start);
  width: 30%;

  .prep-time__input-fields {
    @include set-flexbox(row, center, flex-start);
    width: 100%;
    margin-bottom: 1rem;

    label {
      @include set-flexbox(column, center, flex-start);
    }

    input {
      @include set-input-text;
      border: 1px solid $lime-60;
      width: 90%;
    }
  }
}

////// TAGS SECTION //////
.new-recipe__tags-section {
  width: 100%;

  ////// TAG //////
  .new-recipe__tags-input {
    @include set-bg-color-narrow-border($lime-80, $lime-60);
    @include set-flexbox(column, center, flex-start);
    width: 100%;
    padding: 1rem;

    span {
      @include set-flexbox(row, center, flex-start);
      @include set-bg-color-narrow-border($lime-60, $lime-60);
      padding: .4rem;
      font-family: $font-helvetica;
      text-transform: uppercase;
      font-weight: 700;
      font-size: .8rem;

      button {
        background-color: transparent;
        border: none;

        #delete-icon {
          width: 1rem;
        }
      }
    }

    input {
      @include set-input-text;
      border: 1px solid $lime-60;
      width: 40%;
      margin-top: 1rem;
    }
  }
}

////// INGREDIENTS SECTION //////
.new-recipe__ingredients-section {
  width: 100%;

  .new-recipe__ingredient-input {
    @include set-flexbox(row, space-between, center);
    @include set-bg-color-narrow-border($lime-80, $lime-60);
    padding: 1rem;

    button {
      @include set-flexbox(row, center, center);
      background-color: $off-white;
      padding: .5rem;
      border: none;
      border-radius: 8px;
      color: $off-white;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .new-recipe__ingredient {
    @include set-flexbox(row, space-between, center);
    @include set-bg-color-narrow-border($lime-60, $lime-60);
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;

    span {
      color: $off-white;
    }

    button {
      @include set-flexbox(row, center, center);
      background-color: $lime-60;
      border: none;
      border-radius: 16px;
      color: $off-white;
      cursor: pointer;

      #delete-icon {
        width: 2rem;
      }
    }
  }
}

////// INSTRUCTIONS SECTION //////
.new-recipe__instructions-section {
  width: 100%;

  .new-recipe__instruction-input {
    @include set-flexbox(row, space-between, center);
    @include set-bg-color-narrow-border($lime-80, $lime-60);
    padding: 1rem;
    width: 100%;

    .new-recipe__instruction-input--description-container {
      width: 80%;
    }

    button {
      @include set-flexbox(row, center, center);
      background-color: $off-white;
      padding: .5rem;
      border: none;
      border-radius: 8px;
      color: $off-white;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .new-recipe__instruction {
    @include set-flexbox(row, space-between, center);
    @include set-bg-color-narrow-border($lime-60, $lime-60);
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;

    span {
      color: $off-white;
    }

    button {
      @include set-flexbox(row, center, center);
      background-color: $lime-60;
      border: none;
      border-radius: 16px;
      color: $off-white;
      cursor: pointer;

      #delete-icon {
        width: 2rem;
      }
    }
  }
}

////// SUBMIT BUTTON //////
.new-recipe__form--submit-button {
  @include set-flexbox(row, center, center);
  width: 100%;
  background-color: $lime-60;
  border: none;
  border-radius: 16px;
  color: $off-white;
  padding: 1rem;
  margin: 4rem 0 2rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all .3s ease;

  &:hover {
    background-color: $lime-80;
  }
}


