@import "_utils.scss";
@import "mixin-containers.scss";
@import "buttons.scss";

h3 {
  color: $lime-80
}

.utility__is-loading {
  @include set-bg-color-thick-border($lime-60, $lime-60);
  @include set-flexbox(row, center, center);
  flex-wrap: wrap;
}

.img--wrapper {
  background-color: $lime-20;
  overflow: hidden;
  border-radius: 16px;
  max-height: 25rem;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.error-page__401--header {
  background-color: $blue-70;
  padding: 2rem;
}

.error-page__401--main {
    @include set-flexbox(column, center, center);
    width: 100%;
  min-height: 80vh;
    padding: 2rem;

}

.error-page__401--buttons {
  @include set-flexbox(row, space-between, center);
  width: 100%;
  padding: 1rem;

  button {
    @include set-button-default;
    background-color: $blue-90;
    width: 45%;
  }
}